*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #0C111B;
    font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
